body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-template-rows: auto auto 300px;
    /* grid-template-columns:  */
    height:auto;
    background: lightcoral;
    color: black;
    justify-content: center;
    grid-gap: 2em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
}
#temperature{
    font-size: 25px;
}

.entry{
    display: grid;
    grid-template-columns: 6fr 4fr;
    background: rgba(59, 74, 107, .4);
    padding-top: 10px;
    padding-left: 20px;
}
.country_holder img {
    width:100px;
    height:auto;
}
.country_holder{
    text-align: right;
    padding-right: 10px;
    color: lightgrey;
    font-style: italic;
}

.title {
    color:lightcoral;
    font-size: 18px;
}

.headline {
    font-size:50px
}

.button_container {
    grid-area: button;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input_container{ 
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-areas: 
        "dest img"
        "date img"
        "button img" ;
}
.destination{
    grid-area: dest;
}
.tripdate{
    grid-area:date;
}
.image_container {
    grid-area: img;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    }

/*  Basic Styling To Override Default For Basic HTML Elements */
img{
    width:100%;
    min-width: 120px;
}
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    
    align-self: left;
    width: 200px;
    height: 40px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

 /* Tiny screens 2x5*/
 @media (max-width:601px) {
    .input_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 120px 120px 100px 1fr;
        column-gap: 10px;
        grid-template-areas: 
            "dest "
            "date "
            "button"
            "img"
            "img" ;
     }
     .headline {
        font-size:40px
    }
    .flag img {
        width:80px;
    }
    .title {
        font-size: 15px;
    }
 }

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 