<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>

    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Your text (no numbers)...">
                    <input id="submit_button" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <h1><strong>Form Result:</strong></h1>
            </section>
                <div id="text"></div>
                <div id="agreement"></div>
                <div id="subjectivity"></div>
                <div id="irony"></div>
            
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
